.container {
  padding: 25px;
}

.headline {
  padding-bottom: 12px;
}

/* .formControl {
  background-color: aqua;
  margin-bottom: 30px;
  width: 120px;
} */

.selectEmpty {
  margin-top: 8px;
}

.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginBottom {
  margin-bottom: 12px;
}

.list {
  padding-top: 8px;
  height: 60vh;
  overflow: auto;
}
