.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchBox {
  width: 500px;
  height: 40px;
  max-width: 100%;
  padding: 6px;
  margin-left: 34px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.searchIcon {
  margin-left: 240px;
}